@import "../colors/style.css";

/* Sausage Links Styling */
.sausage-links { position: relative; }

.sausage-links ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 1em 0;
    -webkit-overflow-scrolling: touch;
}

.sausage-links li {
    padding: 0 5px;
    white-space: nowrap;
}

.sausage-links a, .sausage-links a:visited {
    border: 1px solid var(--accent);
    border-radius: 50px;
    color: var(--primary);
    background-color: var(--accent);
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 12px;
    text-decoration: none;
}

.sausage-links a:hover {
    border: 1px solid var(--accent-darker);
    background-color: var(--accent-darker);
}
