.lil-social h1,
.lil-social h2,
.lil-social h3,
.lil-social h4,
.lil-social h5,
.lil-social h6 {
    font-size: 1.6rem;
    font-weight: normal;
}

.lil-social a {
    color: #FFF;
}

a.button-facebook {
    background-color: #483D8B;
    border-color: #483D8B;
}

a.button-twitter {
    background-color: #6BA4FF;
    border-color: #6BA4FF;
}

a.button-instagram {
    background-color: #CD5C5C;
    border-color: #CD5C5C;
}
