.lil-pricing .lil-pricing_title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 1rem 0;
    background-color: #EEE;
}

.lil-pricing .card-actions {
    text-align: center;
}

.lil-pricing_features {
    margin: 1rem;
}

.lil-pricing_price {
    font-size: 2.2rem;
    text-align: center;
}
