.pricing {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 2px;
    height: 100%;
}

.pricing-header {
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 1rem 0;
    background-color: #EEE;
}

.pricing-price {
    font-size: 2.2rem;
    text-align: center;
}

.pricing-features,
.pricing-footer {
    margin: 1rem;
}

.pricing-footer { text-align: center; }
