<section id="alert" class="row">
    <div class="column-12">
        <h1>Alerts</h1>
    </div>
    <div class="column-12">
        <div class="alert-info">
            <h3 class="alert-title">
                Info
            </h3>
            <p class="alert-message">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
    <div class="column-12">
        <div class="alert-success">
            <h3 class="alert-title">
                Success
            </h3>
            <p class="alert-message">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
    <div class="column-12">
        <div class="alert-warning">
            <h3 class="alert-title">
                Warning
            </h3>
            <p class="alert-message">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
    <div class="column-12">
        <div class="alert-danger">
            <h3 class="alert-title">
                Danger
            </h3>
            <p class="alert-message">
                Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="alert-info"&gt
  &lth3 class="alert-title"&gt
    Info
  &lt/h3&gt
  &ltp class="alert-message"&gt
    Lorem ipsum dolor sit amet.
  &lt/p&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
