<section id="article" class="row">
    <div class="column-12">
        <h1>Articles</h1>
    </div>
    <div class="column-12">
        <div class="article">
            <div class="article-image">
                <img src="https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post.jpg" alt="doggo">
            </div>
            <div class="article-content">
                <h1 class="article-title">Lorem ipsum</h1>
                <h1 class="article-subtitle">Lorem ipsum dolor sit Amet</h1>
            </div>
        </div>
        <div class="article">
            <div class="article-image">
                <img src="https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post.jpg" alt="doggo">
            </div>
            <div class="article-content">
                <h1 class="article-title">Lorem ipsum</h1>
                <h1 class="article-subtitle">Lorem ipsum dolor sit Amet</h1>
            </div>
        </div>
        <div class="article">
            <div class="article-image">
                <img src="https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post.jpg" alt="doggo">
            </div>
            <div class="article-content">
                <h1 class="article-title">Lorem ipsum</h1>
                <h1 class="article-subtitle">Lorem ipsum dolor sit Amet</h1>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="article"&gt
  &ltdiv class="article-image"&gt
    &ltimg src="https://outwardhound.com/furtropolis/wp-content/uploads/2020/03/Doggo-Lingo-Post.jpg"&gt
  &lt/div&gt
  &ltdiv class="article-content"&gt
    &lth1 class="article-title"&gtLorem ipsum&lt/h1&gt
    &lth1 class="article-subtitle"&gtLorem ipsum dolor sit Amet&lt/h1&gt
  &lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
