<section id="button" class="row">
    <div class="column-12">
        <h1>Buttons</h1>
        <p>
            Petit UI comes with basic buttons types : <mark>primary</mark>, <mark>secondary</mark>,
            <mark>info</mark>, <mark>success</mark>, <mark>danger</mark>, <mark>warning</mark>.
            Buttons styles can be applied to <mark>&lt;a&gt;</mark>, <mark>&lt;button&gt;</mark> and <mark>&lt;input type="submit"&gt;</mark> elements.
        </p>
    </div>
    <div class="column-12">
        <a class="button-primary" href="#">Primary</a>
        <a class="button-secondary" href="#">Secondary</a>
        <a class="button-info" href="#">Info</a>
        <a class="button-success" href="#">Success</a>
        <a class="button-danger" href="#">Danger</a>
        <a class="button-warning" href="#">Warning</a>
    </div>
    <div class="column-12">
          <pre><code>
&lta class="button-primary" href="#"&gtPrimary&lt/a&gt
&lta class="button-secondary" href="#"&gtSecondary&lt/a&gt
&lta class="button-info" href="#"&gtInfo&lt/a&gt
&lta class="button-success" href="#"&gtSuccess&lt/a&gt
&lta class="button-danger" href="#"&gtDanger&lt/a&gt
&lta class="button-warning" href="#"&gtWarning&lt/a&gt
          </code></pre>
    </div>
</section>
