<section id="chip" class="row">
    <div class="column-12">
        <h1>Call to action</h1>
        <div class="call-to-action row justify-center items-center">
            <div class="column-5 text-left">
                <h2>Place your headline here</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="column-5">
                <form action="">
                    <div class="row justify-end">
                        <div class="column-6">
                            <input type="email" id="call-to-action__email-input" placeholder="Your email">
                        </div>
                        <div class="column-4">
                            <input class="button-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="call-to-action row justify-center items-center"&gt
  &ltdiv class="column-5 text-left"&gt
    &lth2&gtPlace your headline here&lt/h2&gt
    &ltp&gtLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt/p&gt
  &lt/div&gt
  &ltdiv class="column-5"&gt
    &ltform action=""&gt
      &ltdiv class="row justify-end"&gt
        &ltdiv class="column-6"&gt
          &ltinput type="email" id="email-input" placeholder="Your email"&gt
        &lt/div&gt
        &ltdiv class="column-4"&gt
          &ltinput class="button-primary" type="submit" value="Submit"&gt
        &lt/div&gt
      &lt/div&gt
    &lt/form&gt
  &lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
