<section id="chip" class="row">
    <div class="column-12">
        <h1>Chip</h1>
    </div>
    <div class="column-12">
        <p>
            Lorem ipsum <div class="chip">dolor</div> sit amet !
        </p>
    </div>
    <div class="column-12">
          <pre><code>
Lorem ipsum &ltspan class="chip"&gtdolor&lt/span&gt sit amet !
          </code></pre>
    </div>
</section>
