<section id="headline" class="row">
    <div class="column-12">
        <h1>Headline</h1>
    </div>
    <div class="column-12">
        <div class="headline row justify-between">
            <div class="column">
                <h2>
                    Place your headline here
                </h2>
            </div>
            <div class="column">
                <a href="#" class="button-info">
                    Some link
                </a>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="headline"&gt
  &ltdiv&gt
    &lth2&gt
      Place your headline here
    &lt/h2&gt
  &lt/div&gt
  &ltdiv&gt
    &lta href="#" class="button-info"&gt
      Some link
    &lt/a&gt
  &lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
