<section id="hero" class="row">
    <div class="column-12">
        <h1>Hero</h1>
    </div>
    <div class="column-12">
        <div class="hero row justify-around items-center">
            <div class="column-5">
                <h1>
                    Your amazing product landing page
                </h1>
                <h2>
                    Write a short description of your product or service. And add a button.
                </h2>
                <a href="#" class="button-info">
                    Get started
                </a>
            </div>
            <div class="column-5 text-right">
                <img src="https://placekitten.com/600/400" alt="placekitten">
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="hero"&gt
  &ltdiv class="column-5"&gt
    &lth1&gt
      Your amazing product landing page
    &lt/h1&gt
    &lth2&gt
      Write a short description of your product or service. And add a button.
    &lt/h2&gt
    &lta href="#" class="button-info"&gt
      Get started
    &lt/a&gt
  &lt/div&gt
  &ltdiv class="column-5 text-right"&gt
    &ltimg src="https://placekitten.com/600/400"&gt
  &lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
