<section id="login" class="row">
    <div class="column-12">
        <h1>Login</h1>
    </div>
    <div class="column-12">
        <div class="row items-stretch content-stretch justify-center">
            <div class="column-6">
                <div class="login">
                    <form action="">
                        <div class="row">
                            <div class="column-12 text-center">
                                <h3>Login</h3>
                            </div>
                            <div class="column-12">
                                <label for="email-input">Email</label>
                                <input type="email" id="login__email-input">
                            </div>
                            <div class="column-12">
                                <label for="password-input">Password</label>
                                <input type="password" id="password-input">
                            </div>
                            <div class="column-12 text-center">
                                <input type="submit" value="Login" class="button-primary">
                                <p>You do not have an account ? <a href="#" class="link">Signup !</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="login"&gt
  &ltform action=""&gt
    &ltdiv class="row"&gt
      &ltdiv class="column-12 text-center"&gt
        &lth3&gtLogin&lt/h3&gt
      &lt/div&gt
      &ltdiv class="column-12"&gt
        &ltlabel for="email-input"&gtEmail&lt/label&gt
        &ltinput type="email" id="email-input"&gt
      &lt/div&gt
      &ltdiv class="column-12"&gt
        &ltlabel for="password-input"&gtPassword&lt/label&gt
        &ltinput type="password" id="password-input"&gt
      &lt/div&gt
      &ltdiv class="column-12 text-center"&gt
        &ltinput type="submit" value="Login" class="button-primary"&gt
        &ltp&gtYou do not have an account ? &lta href="#" class="link"&gtSignup !&lt/a&gt&lt/p&gt
      &lt/div&gt
    &lt/div&gt
  &lt/form&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
