<section id="newsletter" class="row">
    <div class="column-12">
        <h1>Newsletters</h1>
    </div>
    <div class="column-12">
        <div class="row items-stretch content-stretch justify-center">
            <div class="newsletter">
                <form action="">
                    <div class="row">
                        <div class="column-12">
                            <h2 class="newsletter-title">
                                Subscribe !
                            </h2>
                            <p class="newsletter-subtitle">
                                Enter your email to get our latest news in your mailbox.
                            </p>
                        </div>
                        <div class="column">
                            <input type="email" id="newsletters__email-input" placeholder="Your email">
                        </div>
                        <div class="column">
                            <input class="button-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
 &ltdiv class="newsletter"&gt
  &ltform action=""&gt
    &ltdiv class="row"&gt
      &ltdiv class="column-12"&gt
        &lth2 class="newsletter-title"&gt
          Subscribe !
        &lt/h2&gt
        &ltp class="newsletter-subtitle"&gt
          Enter your email to get our latest news in your mailbox.
        &lt/p&gt
      &lt/div&gt
      &ltdiv class="column"&gt
        &ltinput type="email" id="email-input" placeholder="Your email"&gt
      &lt/div&gt
      &ltdiv class="column"&gt
        &ltinput class="button-primary" type="submit" value="Submit"&gt
      &lt/div&gt
    &lt/div&gt
  &lt/form&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
