<section id="pricing" class="row">
    <div class="column-12">
        <h1>Pricing</h1>
    </div>
    <div class="column-12">
        <div class="row items-stretch content-stretch justify-center">
            <div class="column-3">
                <article class="pricing">
                    <h1 class="pricing-header">
                        Small
                    </h1>
                    <h3 class="pricing-price">
                        9$
                    </h3>
                    <ul class="pricing-features">
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                        <li>Feature 3</li>
                    </ul>
                    <div class="pricing-footer">
                        <a class="button button-primary" href="#">Chose this plan</a>
                    </div>
                </article>
            </div>

            <div class="column-3">
                <article class="pricing best-pricing">
                    <h1 class="pricing-header">
                        Medium
                    </h1>
                    <h3 class="pricing-price">
                        19$
                    </h3>
                    <ul class="pricing-features">
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                        <li>Feature 3</li>
                        <li>Feature 4</li>
                        <li>Feature 5</li>
                    </ul>
                    <div class="pricing-footer">
                        <a class="button button-secondary" href="#">Chose this plan</a>
                    </div>
                </article>
            </div>

            <div class="column-3">
                <article class="pricing">
                    <h1 class="pricing-header">
                        Large
                    </h1>
                    <h3 class="pricing-price">
                        39$
                    </h3>
                    <ul class="pricing-features">
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                        <li>Feature 3</li>
                        <li>Feature 4</li>
                        <li>Feature 5</li>
                        <li>Feature 6</li>
                        <li>Feature 7</li>
                    </ul>
                    <div class="pricing-footer">
                        <a class="button button-primary" href="#">Chose this plan</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&ltdiv class="row items-stretch content-stretch justify-center"&gt
  &ltdiv class="column-3"&gt
    &ltarticle class="pricing"&gt
      &lth1 class="pricing-header"&gt
        Small
      &lt/h1&gt
      &lth3 class="pricing-price"&gt
        9$
      &lt/h3&gt
      &ltul class="pricing-features"&gt
        &ltli&gtFeature 1&lt/li&gt
        &ltli&gtFeature 2&lt/li&gt
        &ltli&gtFeature 3&lt/li&gt
      &lt/ul&gt
      &ltdiv class="pricing-footer"&gt
        &lta class="button button-primary" href="#"&gtChose this plan&lt/a&gt
      &lt/div&gt
    &lt/article&gt
  &lt/div&gt

  &ltdiv class="column-3"&gt
    &ltarticle class="pricing best-pricing"&gt
      &lth1 class="pricing-header"&gt
        Medium
      &lt/h1&gt
      &lth3 class="pricing-price"&gt
        19$
      &lt/h3&gt
      &ltul class="pricing-features"&gt
        &ltli&gtFeature 1&lt/li&gt
        &ltli&gtFeature 2&lt/li&gt
        &ltli&gtFeature 3&lt/li&gt
        &ltli&gtFeature 4&lt/li&gt
        &ltli&gtFeature 5&lt/li&gt
      &lt/ul&gt
      &ltdiv class="pricing-footer"&gt
        &lta class="button button-secondary" href="#"&gtChose this plan&lt/a&gt
      &lt/div&gt
    &lt/article&gt
  &lt/div&gt

  &ltdiv class="column-3"&gt
    &ltarticle class="pricing"&gt
      &lth1 class="pricing-header"&gt
        Large
      &lt/h1&gt
      &lth3 class="pricing-price"&gt
        39$
      &lt/h3&gt
      &ltul class="pricing-features"&gt
        &ltli&gtFeature 1&lt/li&gt
        &ltli&gtFeature 2&lt/li&gt
        &ltli&gtFeature 3&lt/li&gt
        &ltli&gtFeature 4&lt/li&gt
        &ltli&gtFeature 5&lt/li&gt
        &ltli&gtFeature 6&lt/li&gt
        &ltli&gtFeature 7&lt/li&gt
      &lt/ul&gt
      &ltdiv class="pricing-footer"&gt
        &lta class="button button-primary" href="#"&gtChose this plan&lt/a&gt
      &lt/div&gt
    &lt/article&gt
  &lt/div&gt
&lt/div&gt
          </code></pre>
    </div>
</section>
