<section id="hero" class="row">
    <div class="column-12">
        <h1>Sausage links</h1>
    </div>
    <div class="column-12">
        <div class="hero row justify-around items-center">
            <div class="column-12">
                <nav class="sausage-links">
                    <ul>
                        <li><a href="">Homepage</a></li>
                        <li><a href="">Categories</a></li>
                        <li><a href="">Filter Properties</a></li>
                        <li><a href="">Edit Optional Tags</a></li>
                        <li><a href="">Research Papers</a></li>
                        <li><a href="">Contact Our Team</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="column-12">
          <pre><code>
&gtnav class="sausage-links"&lt
    &gtul&lt
        &gtli&lt&gta href=""&ltHomepage&gt/a&lt&gt/li&lt
        &gtli&lt&gta href=""&ltCategories&gt/a&lt&gt/li&lt
        &gtli&lt&gta href=""&ltFilter Properties&gt/a&lt&gt/li&lt
        &gtli&lt&gta href=""&ltEdit Optional Tags&gt/a&lt&gt/li&lt
        &gtli&lt&gta href=""&ltResearch Papers&gt/a&lt&gt/li&lt
        &gtli&lt&gta href=""&ltContact Our Team&gt/a&lt&gt/li&lt
    &gt/ul&lt
&gt/nav&lt
          </code></pre>
    </div>
</section>
