* {
    --black: #1a1a1a;
    --grey: #BBB;
    --info: #599cff;
    --info-darker: #0d6efd;
    --info-lighter: #7aafff;
    --success: #63c780;
    --success-darker: #50a368;
    --success-lighter: #7fe39b;
    --warning: #e6a545;
    --warning-darker: #c98a2c;
    --warning-lighter: #f5b556;
    --danger: #cc5c5c;
    --danger-darker: #b84b4b;
    --danger-lighter: #ed7777;
}

.text-white { color: #FFF; }
.text-black { color: var(--black)}
.text-info { color: var(--info); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-danger { color: var(--danger); }

.background-info { background-color: var(--info); }
.background-success { background-color: var(--success); }
.background-warning { background-color: var(--warning); }
.background-danger { background-color: var(--danger); }

.background-info-darker { background-color: var(--info-darker); }
.background-success-darker { background-color: var(--success-darker); }
.background-warning-darker { background-color: var(--warning-darker); }
.background-danger-darker { background-color: var(--danger-darker); }

.background-info-lighter { background-color: var(--info-lighter); }
.background-success-lighter { background-color: var(--success-lighter); }
.background-warning-lighter { background-color: var(--warning-lighter); }
.background-danger-lighter { background-color: var(--danger-lighter); }
