* {
    --black: #1a1a1a;
    --info: #599cff;
    --info-dark: #0d6efd;
    --success: #63c780;
    --success-dark: #50a368;
    --warning: #e6a545;
    --warning-dark: #c98a2c;
    --danger: #cc5c5c;
    --danger-dark: #b84b4b;
}

.text-white { color: #FFF; }
.text-black { color: var(--black)}
.text-info { color: var(--info); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-danger { color: var(--danger); }

.background-info { background-color: var(--info); }
.background-success { background-color: var(--success); }
.background-warning { background-color: var(--warning); }
.background-danger { background-color: var(--danger); }
.background-info-dark { background-color: var(--info-dark); }
.background-success-dark { background-color: var(--success-dark); }
.background-warning-dark { background-color: var(--warning-dark); }
.background-danger-dark { background-color: var(--danger-dark); }
