* {
    --black: #1a1a1a;
    --info: #599cff;
    --info-dark: #0d6efd;
    --success: #63c780;
    --success-dark: #50a368;
    --warning: #e6a545;
    --warning-dark: #c98a2c;
    --danger: #cc5c5c;
    --danger-dark: #b84b4b;
}

.text__white { color: #FFF; }
.text__black { color: var(--black)}
.text__info { color: var(--info); }
.text__success { color: var(--success); }
.text__warning { color: var(--warning); }
.text__danger { color: var(--danger); }

.background__info { background-color: var(--info); }
.background__success { background-color: var(--success); }
.background__warning { background-color: var(--warning); }
.background__danger { background-color: var(--danger); }
.background__info-dark { background-color: var(--info-dark); }
.background__success-dark { background-color: var(--success-dark); }
.background__warning-dark { background-color: var(--warning-dark); }
.background__danger-dark { background-color: var(--danger-dark); }
