@import "../colors/style.css";

div[class^="alert"] {
    color: #FFF;
    width: 100%;
    padding: .5rem;
}
.alert-info { background-color: var(--info); }
.alert-success { background-color: var(--success); }
.alert-warning { background-color: var(--warning); }
.alert-danger { background-color: var(--danger); }

.alert-title {
    margin: 0;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: normal;
}

.alert-message {
    margin: 0;
    font-size: .9rem;
    font-weight: lighter;
}
