<section class="row">
    <div class="column-12 text-center">
        <h1>Petit UI</h1>
        <p>A minimalist UI library</p>
        <a class="button-secondary" href="https://github.com/lil-re/petit-ui">View on Github</a>
        <a class="button-primary" href="https://github.com/lil-re/petit-ui/releases/tag/1.0.0-beta.0">Download</a>
    </div>
    <div class="column-6">
        <h1>What is Petit UI ?</h1>
        <p>
            <strong>Petit UI</strong> is a lightweight UI library made with <a href="https://github.com/lil-re/petit-css" class="link">Petit.css</a>
            for building small projects without using a larger framework.
        </p>
    </div>
    <div class="column-6">
        <h1>Installation</h1>
        <p>
            You can <a href="https://github.com/lil-re/petit-css/releases/tag/1.0.0-beta.0" class="link">download Petit UI from Github</a>.
            You can also add it to your projects with Npm or Yarn :
        </p>
        <p><pre><code>
  # npm
  npm install petit-ui

  # yarn
  yarn add petit-ui

</code></pre></p>
    </div>
</section>
