<div class="navigation">
    <a href="http://petitui.lil.re" class="logo">Petit UI</a>
    <input class="menu-button" type="checkbox" id="menu-button" />
    <label class="menu-icon" for="menu-button">
        <span class="icon"></span>
    </label>
    <ul class="menu">
        <li><a href="https://github.com/lil-re/petit-ui">Github</a></li>
        <li><a href="http://petitcss.lil.re">Petit CSS</a></li>
    </ul>
</div>
